body {
    background-color:#111111;
    transition: 0.25s linear;
}
#container{
    width:100%;
    margin-top:2%;
}
#target-color{
    color:white;
    text-align: center;
    margin-bottom: 1%;
    margin-top:0%;
}
#heading{
    margin-top: 0%;
    padding-top:0%;
}
#restart-button{
    width:100%;
    margin-bottom: 1%;
}

#guess{
    color: #999999;
    text-align: center;
    font-size: xx-large;
}
#squares{
    width:60%;
    margin:auto;
}

.game-square {
    border-radius: 10%;
    border:none;
    margin:5%;
    padding:45%;
    background-color:red;
    color:red;
}
.btn:focus {
    outline: none;
}